body {
  text-align: center;
  width: 50%;
  margin: 25%;
  margin-top: 5%;
}


#messagelist {
  text-align: center;
  padding: 5px;
}
#sendbutton {
  margin: 5px;
}
#inputbox {
  margin: 5px;
}

.checked {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.unchecked {
  background-color: lightskyblue;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
